body {
  background-color: black;
}

.homepage{
  background-color: whitesmoke;
  min-height: 500px;
  width: 400px;
  margin: 50px auto;
}
#to-do-form input{
  background-color: whitesmoke;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  /* border: 1px; */
  border-radius: 10px;
  /* border-style: solid;
  border-color: black; */
  border: 1px solid black;
  font-size: 18px;
  outline: none;
}

#to-do-form button {
  background-color:black;
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  /* padding: 13px; */
  color: whitesmoke;
  cursor: pointer;
  font-size: larger;
  outline: none;
}

.list {
  background-color: black;
  color: white;
  width: 300px;
  height : 50px;
  margin : 20px auto;
  border-radius: 5px;
}

.list .item {
  padding: 10px;
  position: relative;
}

.list .fa.fa-trash-o{
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  margin: 0 5px;
}

.list .fa.fa-pencil-square-o{
  position: absolute;
  right: 30px;
  cursor: pointer;
  font-size: 20px;
  margin: 2px 10px;
}

.list input {
  background-color: transparent;
  color: white;
  border: 0;
  font-size: 20px;
}

.list input:focus{
  outline: none;
}